@font-face {
  font-family: 'vegurbold';
  src: url('/assets/Vegur-B_0500.otf');
  font-weight: bolder;
}
@font-face {
  font-family: 'vegurlight';
  src: url('/assets/Vegur-EL_0500.otf');
  font-weight: lighter;
}
@font-face {
  font-family: 'vegur';
  src: url('/assets/Vegur-R_0500.otf');
  font-weight: normal;
}

body {
  text-align: center;
    padding: 100px 0 0;
}
.navbar {
    background: #fff;
    min-height: 70px;
}
.navbar-nav>li>a {
    font-family: vegurlight;
    color: #000;
    padding-top: 25px;
}
.navbar-nav>li>a:hover {
    font-family: vegurbold;
    border-bottom: 2px solid #f00;
    background: #fff;
}
.navbar-nav>li.selected>a {
    font-family: vegurbold;
    border-bottom: 2px solid #f00;
    background: #fff;
}
h1 {
    font-family: vegur;
    font-weight: 600;
    text-transform: uppercase;
}
.container{
  width: 900px;
}
.main-page {
  margin: 60px 0 140px 0;
}
.col-lg-7 .landing-text,.col-md-7 .landing-text{
  margin-top: 130px;
}
.landing-text {
    font-family: vegurlight;
    font-size: 15px;
    line-height: 0;
    margin: 10px 0 0;

    text-align: left;
}
.appstr {
    background: url("https://s3.amazonaws.com/prod.justbooksclc.com/summer_app/button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 57px;
    margin-bottom: 10px;
    width: 194px;
}
.playstr {
    background: url("https://s3.amazonaws.com/prod.justbooksclc.com/summer_app/button.png") no-repeat scroll -195px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 57px;

    opacity: 0.3;
    width: 194px;
}
.send-app-link {
    /*border-bottom: 1px solid #837E7C;*/

    margin-top: 10px;
    margin-bottom: 40px;
    text-align: left;
    margin-left: -10px;
}
.send-app-link form{
  float: left;
}

.invalid {
    height: 45px;
    left: 6px;
    margin-left: 25px;
    opacity: 0.6;
    padding: 0 1px 6px;
    top: -1px;
    width: 300px;
    margin-bottom: 20px;
}
.btn.secondary {
    background: none repeat scroll 0 0 #ffde17;
    color: #000;
    height: 45px;
    font-family: vegur;
    margin-left: 10px;
}
.footer {
    font-family: vegur;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    font-weight: bold;
    border-top: 2px solid #ccc;
}
.sub-heading {
    text-align: left;
}
.sub-heading > h3 {
  font-size: 18px;
  font-family: vegur;
  margin-top: 40px;
  font-weight: bold;
}
.sub-heading > p {
    font-family: vegurlight;
}
.img-responsive{
  margin-top: 20px;
  text-align: center;
}
.how-images {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 20px 0 20px;
}
.how-image-text {
  float: left;
  font-family: vegurlight;
  height: 100px;
  margin: 0 20px 20px;
}
.arial-italic{
  font-family: arial;
  font-style: italic;
  font-weight: bold;
}
.navbar-nav > li > a{
  margin-right: 5px;
}

.error {
  color: #ff0000;
  font-weight: bold;
}

.notice {
  color: green;
  font-weight: bold;
}